.outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  background-color: #ffffff;
  color: #000000;
  width: 40em;
  border-radius: 4px;
}

.date {
  background-color: #f6f6f6;
  font-size: 0.8em;
  color: #888888;
  padding: 0.5em 1.25em;
}

.dateFirst {
  background-color: #f6f6f6;
  font-size: 0.8em;
  color: #888888;
  padding: 0.5em 1.25em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.empty {
  padding: 1em;
  color: #888888;
}
